<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Activity</title>
    <link rel="stylesheet" href="/css/mypageAct1.css">
</head>
<body>
<div class="container">
    <div class="myPage__main" >
        <div>

            <h1 class="logo"><a>ARTINEER</a></h1>
        </div>
        <div class="text" style="font-size: xx-large; text-align: center">작성한 글</div>

    </div>




    <div class="side__bar">
        <div class="profile">
            <img class="side__icon" src="/image/profileimg.png" height="308" width="300"/>
<!--            <div class="side__icon"></div>-->
            <h2 class="side__page__name">이름(n기)</h2>
        </div>

        <div class="side__items" >
            <h2 class="section__title">계정</h2>
            <div class="myPage__section"><a href="/mypage">회원 정보</a></div>
            <h2 class="section__title">활동</h2>
            <div class="myPage__section" style="background-color: #f4f5fa">작성한 글</div>
            <div class="myPage__section">댓글단 글</div>
            <div><a class="logout" href="/logout"> 로그아웃</a></div>
        </div>
    </div>
</div>


</body>
</html>