<configuration>

    <!-- 콘솔에 로그 출력 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 파일에 로그 기록 및 롤링 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- 로그 파일 저장 경로 (상위 디렉터리로 로그를 저장하고 싶다면 '../logs'로 설정) -->
        <file>/var/www/artineer/logs/application.log</file>

        <!-- 롤링 정책 (파일 이름 패턴 지정) -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일의 이름 패턴 -->
            <fileNamePattern>/var/www/artineer/logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
            <!-- 로그 파일을 유지할 기간 설정 -->
            <maxHistory>365</maxHistory> <!-- 최대 30일 간의 로그 보관 -->
        </rollingPolicy>

        <!-- 로그 포맷 설정 -->녀
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 루트 로거 설정 -->
    <root level="info">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="FILE" />
    </root>

</configuration>
