<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>공지사항 게시판 작성</title>
    <!-- CKEditor Classic Editor 추가 -->
    <script src="https://cdn.ckeditor.com/ckeditor5/29.1.0/classic/ckeditor.js"></script>

    <!-- 넓이 높이 조절 -->
    <style>
        .ck.ck-editor {
            max-width: 600px;
        }
        .ck-editor__editable {
            min-height: 400px;
        }
    </style>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <!-- Favicons -->
    <link th:href="@{/image/favicon.ico}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/bootstrap-icons/bootstrap-icons.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/aos/aos.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/glightbox/css/glightbox.min.css}" rel="stylesheet">
    <link th:href="@{assets/vendor/swiper/swiper-bundle.min.css}" rel="stylesheet">


    <!-- Main CSS File -->
    <link th:href="@{/assets/css/main.css}" rel="stylesheet">

</head>
<body>
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
        <a th:replace="~{/fragments/headerFragment :: headerLogo}"></a>
    </div>
</header>


<div style="display: flex; justify-content: center; align-items: center; margin-bottom: 100px;">
    <div class="d-flex justify-content-center">
            <form class="container mt-5" th:action="@{/notice/new}" method="post" enctype="multipart/form-data" >
                <select class="form-select mb-3" aria-label="Default select example" style="width: 500px">
                    <option selected>등록할 게시판 고르시오.</option>
                    <option value="1">공지사항 (notice)</option>
                    <option value="2">갤러리 (gallery)</option>
                </select>
                <input type="text" id="title" name="title" required style="width: 500px" placeholder="Title"><br><br>

                <textarea name="story" id="story"></textarea>

                <input type="file" id="file" name="file" multiple>

                <script>
                ClassicEditor
                    .create( document.querySelector( '#story' ))
                    .catch( error => {
                        console.error( error );
                    } );
                </script>

                <div class="d-flex justify-content-end">
                    <a href="/notice" class="text-light btn btn-info mx-1">취소</a>
                    <button type="submit" class="text-light btn btn-info mx-1">등록</button>
                </div>

        </form>
    </div>

<!-- CKEditor 적용 -->
<script type="module">
    import {
        ClassicEditor,
        Essentials,
        Paragraph,
        Bold,
        Italic,
        Font
    } from 'ckeditor5';
    ClassicEditor
        .create( document.querySelector( '#editor' ), {
            plugins: [ Essentials, Paragraph, Bold, Italic, Font ],
            toolbar: [
                'undo', 'redo', '|', 'bold', 'italic', '|',
                'fontSize', 'fontFamily', 'fontColor', 'fontBackgroundColor'
            ]
        } )
        .then( editor => {
            window.editor = editor;
        } )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    window.onload = function() {
        if ( window.location.protocol === 'file:' ) {
            alert( 'This sample requires an HTTP server. Please serve this file with a web server.' );
        }
    };
</script>
<!--<script>
    CKEditor.replace('story'); // story id를 가진 textarea에 CKEditor 적용
    ClassicEditor
    .create(document.querySelector('#editor'))
    .catch(error => {
        console.error(error);
    });
</script>-->



</div>
<footer id="footer" class="footer" th:replace="~{/fragments/footerFragment :: siteInfoFooterFragment}"></footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</html>