<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice</title>

    <!-- Favicons -->
    <link th:href="@{/image/favicon.ico}" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Main CSS File -->
    <link href="/css/main.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
        .a-color {
            color: black; /* 기본 색상 */
        }
        .a-color:hover {
            color: lightblue; /* hover 시 색상 */
        }
    </style>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="container text-center" style="margin-top: 150px;">
    <h2 class="text-info fw-bold">공지 사항</h2>
    <h5 class="text-muted" style="opacity: 0.5;">Notice</h5>
</div>

<div class="d-flex justify-content-center">
    <div class="container m-5  " >
        <div class="d-flex justify-content-end">
            <a href="/notice/new" class="text-light btn btn-info">추가</a>
        </div>
        <table class="table table-hover text-center mt-3">
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col" class="d-flex justify-content-start">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
                <th scope="col">조회수</th>
            </tr>
            </thead>
            <tbody>

            <tr th:each="notice, iterStat :  ${notices}">
                <!-- 전체 게시글 수에서 역순으로 표기하게 설정 -->
                <th th:text="${notices.size() - iterStat.index}">1</th>
                <td><div class="d-flex align-items-center">
                    <a th:text="${notice.title}" th:href="@{/notice/{no}(no=${notice.no})}"
                       class="a-color d-flex justify-content-start" style="text-decoration: none;"></a>
                    <div class="d-flex align-items-center text-danger fw-bold">
                    <p>[</p>
                    <p class="d-flex justify-content-start" th:text="${notice.comment}">댓글수</p>
                    <p>]</p>
                    </div>
                </div>
                </td>
                <td th:text="${notice.name} + '(' + ${notice.year} + '기)'">작성자</td>
                <td><a th:text="${notice.regdate}">날짜</a></td>
                <td><a th:text="${notice.hit}">조회수</a></td>
            </tr>


            </tbody>
        </table>
        <nav aria-label="Page navigation example" class="d-flex justify-content-center ">
            <ul class="pagination">
                <li class="page-item border-0">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">◀</span>
                    </a>
                </li>
                <li class="page-item border-0"><a class="page-link" href="#">1</a></li>
                <li class="page-item border-0">
                    <a class="page-link" href="#" aria-label="Next">
                        <span aria-hidden="true">▶</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
<div th:replace="~{footer::footer}"></div>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Preloader -->
<!--<div id="preloader"></div>-->



</body>

</html>