<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>아티니어::회원탈퇴</title>
  <meta name="description" content="아티니어를 떠나기">
  <meta name="keywords" content="">

  <!-- Favicons -->
  <link th:href="@{/image/favicon.ico}" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Fonts -->
  <link href="https://fonts.googleapis.com" rel="preconnect">
  <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link th:href="@{/css/signUpIn.css}" rel="stylesheet">

  <!-- Main CSS File -->
  <link href="/assets/css/mastermain.css" rel="stylesheet">

  <!-- =======================================================
  * Template Name: Arsha
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Updated: Aug 07 2024 with Bootstrap v5.3.3
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->

</head>

<body class="starter-page-page d-flex flex-column min-vh-100">

  <header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">
      <a th:replace="~{fragments/headerFragment :: headerLogo}"></a>
    </div>
  </header>

  <main class="main flex-grow-1 mb-5 align-content-center">

    <!-- Page Title -->
    <div class="" style="
    top: 60px;
    margin-bottom: 0;
    padding-bottom: 0">
      <div class="container" style="
      display: flex;
      justify-content: center; /* 수평 가운데 정렬 */
      align-items: center;">
        <h1 style="font-size: 60px" >회원탈퇴 확인</h1>
      </div>
    </div><!-- End Page Title -->

    <!-- Starter Section Section -->
    <section id="starter-section" class="starter-section section">

      <div class="container" style="
      margin-top: 0;
      display: flex;
      justify-content: center;">

<!--        <p>Use this page as a starter for your own custom pages.</p>-->
        <div>
          비밀번호를 입력해 주십시오.

          <form name="form" id="form" action="/user/withdrawal" method="post">
            <div id="userIdBox">
              <input id="username" type="text" name="username" th:value="${user.getUsername()}" readonly>
              <label for="username">아이디</label>
              <div class="error-msg"></div>
            </div>
            <div id="passwordBox">
              <input id="password" type="password" name="password">
              <label for="password">비밀번호</label>
              <div class="error-msg"></div>
            </div>
            <div style="text-align: center;">
              <button type="submit">회원탈퇴</button>
            </div>
          </form>

        </div>


      </div>

    </section><!-- /Starter Section Section -->

  </main>

  <footer th:replace="~{fragments/footerFragment :: footerInfo}"></footer>

  <!-- Scroll Top -->
  <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Preloader -->
<!--  <div id="preloader"></div>-->

  <!-- Vendor JS Files -->
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script th:src="@{/js/signWithdrawal.js}"></script>

  <!-- Main JS File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>