<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>


<!-- todo 고비용인가-->
<div th:each="comment, iterStat :  ${comments}" th:fragment="comment(comments, isParent)" th:if="${(comment.getReplys() == null)==isParent}" th:style="${isParent} ? 'border-bottom: #a1c5ff thin solid; margin: 0 0 15px 0; padding: 0 0 15px 0' : null">

    <div  class="comment" th:data-no="${comment.getNo()}" style="margin: 0 0 0 10px;">

        <div>
            <div class="d-flex justify-content-between">
                <strong style="display: inline" th:text="${comment.getUser().getName()} + '(' + ${comment.getUser().getYear()} + '기)'">작성자</strong>

                <div class="btn-group">
                    <span class="dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 13px">
                        더보기
                    </span>
                    <ul class="dropdown-menu" style="min-width: fit-content">
                        <li>
                            <a class="report_comment_btn text-info dropdown-item" href="#">신고</a>
                        </li>
                        <li th:if="${#authentication.getPrincipal().getUsername()==comment.getUser().getUsername()}" style="display: inline">
                                <a class="update_comment_btn text-warning dropdown-item" href="#" >수정</a>
                        </li>
                        <li th:if="${(#authentication.getPrincipal().getUsername()==comment.getUser().getUsername()) || (#authentication.getPrincipal().getRole()=='ROLE_ADMIN')}" style="display: inline">
                            <a class="delete_comment_btn text-danger dropdown-item" href="#" >삭제</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div style="display: flex; align-items: flex-end;">
            <span class="content_box" th:utext="${comment.memo}" style="white-space: pre-wrap;">content</span>
            </div>
            <div style="color: gray; font-size: 13px;"><a th:text="${comment.regdate}">날짜</a>
                <a class="reply_comment_btn" style="color: gray; font-size: 14px; margin-left: 5px" role="button">답글 작성</a>
            </div>
        </div>

        <div th:if="${!comment.getComments().isEmpty()}">
            <div th:replace="~{/fragments/commentFragment :: comment(comments=${comment.getComments()}, isParent=${false})}"></div>
        </div>
    </div>

</div>



</body>

</html>