<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>
<body>

<footer id="footer" class="footer py-3 mt-auto" th:fragment="footerFragment">

<!--    <div class="footer-newsletter">-->
<!--        <div class="container">-->
<!--            <div class="row justify-content-center text-center">-->
<!--                <div class="col-lg-6">-->
<!--                    <h4>Join Our Newsletter</h4>-->
<!--                    <p>Subscribe to our newsletter and receive the latest news about our products and services!</p>-->
<!--                    <form action="forms/newsletter.php" method="post" class="php-email-form">-->
<!--                        <div class="newsletter-form"><input type="email" name="email"><input type="submit" value="Subscribe"></div>-->
<!--                        <div class="loading">Loading</div>-->
<!--                        <div class="error-message"></div>-->
<!--                        <div class="sent-message">Your subscription request has been sent. Thank you!</div>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->

    <div class="container footer-top">
        <div class="row gy-4">
            <div class="col-lg-4 col-md-6 footer-about">
                <a th:href="@{/}" class="d-flex align-items-center">
                    <span class="sitename">Artineer</span>
                </a>
                <div class="footer-contact pt-3">
                    <p>전북특별자치도 익산시 익산대로 460</p>
                    <p>창의공과대학 5층 LINK+ 동아리실 (원광대학교)</p>
<!--                    TODO 연락처 등 확인 필요-->
                    <p class="mt-3"><strong>TEL:</strong> <span>010-5289-3793 (동아리부장)</span></p>
                    <p><strong>Email:</strong> <span>artineer24@google.com</span></p>
                </div>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>유용한 링크</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a th:href="@{/}">아티니어 홈페이지</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="https://intra.wku.ac.kr/">교내 웹정보서비스</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="https://computer.wku.ac.kr/">소속학과 홈페이지</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">이용약관</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-3 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Product Management</a></li>
                    <li><i class="bi bi-chevron-right"></i> <a href="#">Marketing</a></li>
                </ul>
            </div>

            <div class="col-lg-4 col-md-12">
                <h4>Follow Us</h4>
                <p>"아티니어"의 SNS 계정은 계획 중 입니다.</p>
                <div class="social-links d-flex">
                    <a href="https://twitter.com/?lang=ko/"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://www.facebook.com/?locale=ko_KR"><i class="bi bi-facebook"></i></a>
                    <a href="https://www.instagram.com/"><i class="bi bi-instagram"></i></a>
                    <a href="https://kr.linkedin.com/"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

        </div>
    </div>

    <div class="container copyright text-center py-3 mt-auto" th:fragment="siteInfoFooterFragment">
        <p>© <span>Copyright</span> <strong class="px-1 sitename">Artineer</strong> <span>All Rights Reserved</span></p>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you've purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: [buy-url] -->
            Designed by <a href="https://bootstrapmade.com/">Arsha&BootstrapMade</a>
        </div>
    </div>

</footer>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>

</html>