/* 공통 색상 스타일 */
.a-color {
    color: black; /* 기본 색상 */
}
.a-color:hover {
    color: #47b2e4; /* hover 시 색상 */
}

/* 버튼 스타일 */
.btn-info,
._btn,
.custom-btn {
    color: white; /* 기본 글자 색상 */
    background-color: #47b2e4; /* 기본 배경 색상 */
    border-color: #47b2e4; /* 기본 테두리 색상 */
}
.btn-info:hover,
._btn:hover,
.custom-btn:hover {
    color: white; /* hover 시 글자 색상 */
    background-color: lightblue; /* hover 시 배경 색상 */
    border-color: lightblue; /* hover 시 테두리 색상 */
}

/* CKEditor 스타일 */
.ck.ck-editor {
    max-width: 1000px;
}
.ck-editor__editable {
    min-height: 400px;
}

/* 반응형 크기 설정 */
@media (min-width: 1200px) {
    .gal-width {
        max-width: 650px;
    }
    .body-width {
        max-width: 300px;
    }
    .custom-width {
        max-width: 430px;
    }
}
@media (min-width: 992px) and (max-width: 1199.98px) {
    .gal-width {
        max-width: 450px;
    }
    .body-width {
        max-width: 200px;
    }
    .custom-width {
        max-width: 300px;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .custom-width {
        max-width: 200px;
    }
    .text-width{
        max-width: 120px;
    }
}
@media (max-width: 767.98px) {
    .custom-width {
        max-width: 100px;
    }
    .text-width{
        max-width: 100px;
    }
}


/* 댓글 더보기 드롭다운 active */
.dropdown-item.active, .dropdown-item:active {
    color: var(--bs-dropdown-link-active-color);
    text-decoration: none;
    background-color: #d8d8d8;
}

/* 사진 다운 드롭다운 */

.name {
    padding: 0;
}

.name ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
}

.name li {
    position: relative;
}

.name a,
.name a:focus {
    color: var(--nav-color);
    padding: 18px 15px;
    font-size: 18px;
    font-family: var(--nav-font);
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: space-between;
    white-space: nowrap;
    transition: 0.3s;
}

.name a i,
.name a:focus i {
    font-size: 12px;
    line-height: 0;
    margin-left: 5px;
    transition: 0.3s;
}

.name li:last-child a {
    padding-right: 0;
}

/*  .name li:hover>a,
  .name .active,
  .name .active:focus {
    color: var(--nav-hover-color);
  }*/

.name .dropdown ul {
    margin: 0;
    padding: 10px 0;
    background: var(--nav-dropdown-background-color);
    display: block;
    position: absolute;
    visibility: hidden;
    left: 14px;
    top: 130%;
    opacity: 0;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.name .dropdown ul li {
    min-width: 200px;
}

.name .dropdown ul a {
    padding: 10px 20px;
    font-size: 15px;
    text-transform: none;
    color: var(--nav-dropdown-color);
}

.name .dropdown ul a i {
    font-size: 12px;
}

.name .dropdown ul a:hover,
.name .dropdown ul .active:hover,
.name .dropdown ul li:hover>a {
    color: var(--nav-dropdown-hover-color);
}

.name .dropdown:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.name .dropdown .dropdown ul {
    top: 0;
    left: -90%;
    visibility: hidden;
}

.name .dropdown .dropdown:hover>ul {
    opacity: 1;
    top: 0;
    left: -100%;
    visibility: visible;
}

.name .megamenu {
    position: static;
}

.name .megamenu ul {
    margin: 0;
    padding: 10px;
    background: var(--nav-dropdown-background-color);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 130%;
    left: 0;
    right: 0;
    visibility: hidden;
    opacity: 0;
    display: flex;
    transition: 0.3s;
    border-radius: 4px;
    z-index: 99;
}

.name .megamenu ul li {
    flex: 1;
}

.name .megamenu ul li a,
.name .megamenu ul li:hover>a {
    padding: 10px 20px;
    font-size: 15px;
    color: var(--nav-dropdown-color);
}

.name .megamenu ul li a:hover,
.name .megamenu ul li .active,
.name .megamenu ul li .active:hover {
    color: var(--nav-dropdown-hover-color);
}

.name .megamenu:hover>ul {
    opacity: 1;
    top: 100%;
    visibility: visible;
}

.name .dd-box-shadow {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

