
/*colors*/
:root {
    --color-accent: var(--color-blue);
    --color-bg: var(--color-gray) ;
    border: 4px solid var(--subtle);

    --color-blue: #2150FE;
    --color-gray: #f4f5fa;

    /*size*/
    /*--size-max-width: 1400px;*/
}
html {
    background-color: #f4f5fa;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    /*max-width: var(--size-max-width);*/
    display: flex;
    height: auto;
}

.all {
    display: flex;
    width: 30rem;
}

a {
    text-decoration : none;
    color: black;
}

a:visited { text-decoration: none; }

.logo {
    color: var(--color-blue);
    font-weight: bold;
    margin-left: 2rem;
}

.logo_a:link {
    text-decoration : none;
    color: var(--color-blue)
}

.logo_a:visited {
    text-decoration : none;
    color: var(--color-blue)
}

.side__bar {
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: auto;
    border-radius: 10px;

}

.side__items {
    justify-content: start;
    padding: 0 1.5rem 0 1.5rem;
}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 1.5rem 3rem;
}

.side__icon {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    /*background-color: #0a58ca;*/
    margin: 1rem;
}

.section__title {
}

.myPage__section {
    width: 180px;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 10px;
    text-align: start;

}

.myPage__section:hover {
    background-color: var(--color-gray);
}

.side__page__name {
    font-weight: bold;
    font-size: 18px;
}

.info__list {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.button__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.info__items {
    background-color: white;
    height: 3rem;
    margin: 3px;
    font-size: 1.2rem;
    align-content: center;
}



.info__items input {
    padding: 10px;
    width: 20rem;
    background-color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
}

label {
    padding: 10px;
    width: 122px;
    display: inline-block;
}

ul {
    padding-inline-start: 0;
}

li {
    padding: 1rem;
}

.editPageBtn {
    display: none;
}

.accountInfo {
    margin-bottom: 1rem;
}

.test_text {
    width: 60%;

}

.logout:link {
    text-decoration : none;
    color: black;
}

.logout:visited {
    text-decoration : none;
    color: black;
}

.logout {
    font-size: large;
    font-weight: bold;
    margin: 1rem 1rem;
    padding: 1rem;
}

.logout:hover {
    background-color: #ffdfd4;

}

.myPage__main {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.editbtn {
    width: 4rem;
    border-radius: 5px;
    border: var(--color-blue);
    background-color: var(--color-blue);
    font-size: large;
    color: white;
}

.inputBox {
    background-color: white;
    margin: 3px;
    border-radius: 0 0 ;
    font-size: 18px;
    font-weight: bold;
}

#roadAddress {
    font-size: smaller;
    border: none;
    display: flex;
    justify-content: space-between;
}
#detailAddress {
    font-size: 18px;
    border: none;
    width: auto;
    margin: 10px;
}

.roadFullAddr {
    top: 3px;
    left: 310px;
    display: inline;
    width: 7%;
    border-style: none;
    background: url("../assets/img/material/address-icon.svg") no-repeat center;
    background-size: 90%;
    opacity: 0.6;
    align-content: center;
    padding: 10px;
    gap: 30px;
    text-align: center;

    aspect-ratio: 1/1;
    border-radius: 100%;
    /*outline: 3px solid var(--subtle);*/
}

.gender

.gender.selected {
    background-color: var(--color-blue);
}
.gender:not(.selected) {
    background-color: white;
}