/*colors*/
:root {
    --color-accent: var(--color-blue);
    --color-bg: var(--color-gray) ;

    --color-blue: #00CED1;
    --color-gray: #f4f5fa;

    /*size*/
    /*--size-max-width: 1400px;*/
}
html {
    background-color: #f4f5fa;
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    min-width: 100%;
    display: flex;
}

.container {
    /*max-width: var(--size-max-width);*/
    display: flex;
    justify-content: space-between;
    height: auto;
    width: 100%;
}
.myPage__main {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.all {
    display: flex;
    width: 30rem;
}


.logo {
    color: var(--color-blue) !important;
    font-weight: bold;
    margin-left: 2rem;
}

.logo_a:link, .logo_a:visited {
    color: var(--color-blue) !important;
    text-decoration : none;
}
a {
    text-decoration : none;
    color: black;
}

a:visited { text-decoration: none; }


.side__bar {
    display: flex;
    /*align-items: center;*/
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
    height: 100%;
    width: 20%;

}

.side__items {
    width: 100%;

}

.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 3rem 1.5rem 3rem;
}

.side__icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    /*background-color: #0a58ca;*/
    margin: 1rem;
}

.section__title {
    padding: 0 0.5rem 0 1.5rem;

}

.myPage__section {
    width: 40%;
    padding: 0.8rem 0.5rem 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    border-radius: 0 10px 10px 0;
    text-align: start;

}

.side__page__name {
    font-weight: bold;
    font-size: 18px;
}


.info__list {
    display: flex;
    align-items: center;
    flex-direction: column;
}


.button__list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1.5rem;
}

.info__items {
    background-color: white;
    margin: 3px;
}

.info__items input {
    padding: 10px;
    width: 20rem;
    background-color: white;
    border: none;
    border-radius: 5px;
}

ul {
    padding-inline-start: 0;
}

li {
    padding: 1rem;
}

.editPageBtn {
    display: none;
}

.accountInfo {
    margin-bottom: 1rem;
}

.test_text {
    width: 60%;

}

.logout:link {
    text-decoration : none;
    color: black;
}

.logout:visited {
    text-decoration : none;
    color: black;
}

.logout {
    font-size: large;
    font-weight: 500;
    margin: 1rem 1rem ;
    padding: 1rem;
}

