<!DOCTYPE html>

<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Artineer</title>
    <meta name="description" content="아티니어 홈페이지">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/image/favicon.ico" type="image/x-icon" rel="icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- FullCalendar CSS -->
    <link href='https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css' rel='stylesheet' />

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js'></script>

    <!-- Main CSS File -->
    <link href="/css/mastermain.css" rel="stylesheet">



</head>



<body class="index-page">

<!--<header 부분은 templetes/header.html로 분리-->
<div th:replace="~{fragments/headerFragment :: header(user=${user})}"></div>


<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background" style="justify-content: center; width: 100%; height: 100vh;">

        <div class="container" style="position:absolute; top: 0; width: 100%; height: 100%;">

            <!-- 페이드 아웃 이미지 슬라이더 -->
            <div id="slide3" class="fade-slider" style="position: absolute; width: 100%; height: 100%; overflow: hidden; z-index: 1;">
                <ul>
                    <li><img src="/image/img/MainBackGround-1.jpg" alt="슬라이드1" style="width: 100%; height: 100%; object-fit: cover;"></li>
                    <li><img src="/image/img/MainBackGround-2.jpg" alt="슬라이드2" style="width: 100%; height: 100%; object-fit: cover;"></li>
                    <li><img src="/image/img/MainBackGround-3.jpg" alt="슬라이드3" style="width: 100%; height: 100%; object-fit: cover;"></li>
                </ul>
            </div>

            <div class="slider__dot">
                <a href="#" class="dot"></a>
                <a href="#" class="dot"></a>
                <a href="#" class="dot"></a>
            </div>

            <div class="container" style="position: absolute; top: 0; width: 100%; height: 100%; display: flex; justify-content: center; align-items: center;">
                <div class="row gy-4 justify-content-center align-items-center text-center" style="position: relative; z-index: 2; display: flex; justify-content: center; align-items: center;">
                    <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center" data-aos="zoom-out">
                        <h1><strong>Wonkwang Univ.</strong><br>Department of Computer Science<br>Software Group</h1>
                        <p>Artist + Engineer</p>
                        <div class="d-flex justify-content-center align-items-center">
                            <a href="#about" class="btn-get-started">Artineer?</a>
                            <a href="https://cafe.naver.com/artineer24" target="_blank" class="btn-watch-video d-flex align-items-center">
                                <i class="bi bi-play-circle"></i>
                                <span>아티니어 블로그</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="zoom-in">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 40
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 60
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 80
                            },
                            "992": {
                                "slidesPerView": 5,
                                "spaceBetween": 120
                            },
                            "1200": {
                                "slidesPerView": 6,
                                "spaceBetween": 120
                            }
                        }
                    }
                </script>

                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-5.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-7.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-8.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-9.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-10.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-11.png" class="img-fluid" alt=""></div>


                </div>
            </div>

        </div>

    </section><!-- /Clients Section -->


    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div data-aos="fade-up" data-aos-delay="100">
                    <p style="font-size: 24px; line-height: 1.8; text-align: center;">
                        <strong>WE ARE ARTINEER.<br><br>
                            Wonkwang Univ. Department of Computer Science<br>
                            SOFTWARE PROJECT GROUP<br>
                            SINCE 2017.<br><br>
                            IKSAN DAERO 460, IKSAN-SI, JEOLLABUK-DO, KOREA<br>
                            COLLEGE OF ENGINEERING.</strong>
                    </p>
                    <br>
                    <div style="text-align: center;">
                        <img src="image/logo.png" alt="Artineer Logo" style="width: 150px; height: auto;">
                    </div>
                </div>

            </div>

        </div>



    </section><!-- /About Section -->


    <!-- Major Activity Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up" style="text-align: center;">
            <h2>Major Activity</h2>
            <p style="font-size: 18px; line-height: 1.8; text-align: center;">
                <br>
                <strong>강의, 스터디뿐만 아니라 분야별 세미나를 통해 프로젝트를 진행하고 있습니다.<br></strong>
            </p>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-1.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4 class="mt-3"><a href="" class="stretched-link">분야별 스터디</a></h4>
                        <p>웹, AI, 게임, 네트워크 보안, 개별 등의 분야별 스터디를 진행합니다.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-2.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4><a href="" class="stretched-link">세미나/프로젝트</a></h4>
                        <p>자신의 진로와 관련된 주제나 관심 분야와 관련된 동아리 부원들과 함께 조를 구성하여 세미나를 진행합니다.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-3.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4><a href="" class="stretched-link">자체 강의 진행</a></h4>
                        <p>기본적인 개념을 다잡고, 응용하여 심화 단계까지 학습 및 실습을 진행합니다.</p>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>

    </section><!-- /Major Activity Section -->

    <!-- Artineer Calendar Section -->
    <section id="call-to-action" class="call-to-action section dark-background">
        <img th:src="@{/assets/img/프라임관_전경.jpg}" alt="">
        <div class="container">
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-9 text-center text-xl-start">
                    <h3>Artineer Calendar</h3>
                    <p>아티니어만의 동아리 시간과 주요 행사를 확인할 수 있습니다.</p>
                </div>
                <div class="col-xl-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="javascript:void(0)" id="openModal">자세히 보기</a>
                </div>
            </div>
        </div>
    </section>

    <!-- 모달 구조 -->
    <div id="calendarModal" class="modal" style="display: none; overflow-y: hidden;">
        <div class="modal-dialog modal-dialog-centered" style="max-width: none;">
            <div class="modal-content " style="width: fit-content; margin-top: 10%">
                <div class="modal-header p-0">
                    <h3 class="modal-title">아티니어 캘린더</h3>
                    <span class="close">&times;</span>
                </div>
                <div id="calendarModalContent" style="display: block;"></div>
                <div id='calendar' class="mt-3" style="width: 720px;"></div>
            </div>
        </div>
    </div>



    <!-- Artineer calender Section -->

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // document.getElementById('show-calendar').addEventListener('click', function(e) {
            //     e.preventDefault(); // 기본 동작 방지
            //     window.open('popup-calendar.html', 'Calendar', 'width=800,height=600'); // 팝업 창 열기
            // });
        });
    </script>


    <!-- Modal -->
    <div class="d-flex flex-wrap  justify-content-center"
        style="
            position: fixed;
            top: 0;
            left: 0;
            z-index: 1050;
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            overflow-y: auto;
            /*height: fit-content;*/">
    <div th:if="${popups!=null}" th:each="popup : ${popups}"
            class="popupModal" th:id="${popup.getNo()}"
         tabindex="-1" aria-labelledby="modalLabel1" aria-hidden="true" data-bs-backdrop="false"
         style="width: fit-content; height: fit-content"
    >
        <div class="modal-dialog" >
            <div class="modal-content p-0" style="width: 500px; max-width: 95vw; margin: 0">
                <div class="modal-header p-1">
                    <h5 class="modal-title" id="modalLabel1" th:text="${popup.getTitle()}">공지사항</h5>
                    <button type="button" class="btn-close" onclick="((e)=>{((e.target.parentElement.parentElement.parentElement.parentElement.remove()));})(event)" adata-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body p-0">
                    <img th:src="'/data/' + ${popup.getLink()}" th:alt="${popup.getDescription()}" style="width: 100%">
                </div>
                <div class="modal-footer p-1" style="position: absolute; right: 0; bottom: 0;">
                    <button type="button" class="btn btn-secondary" onclick="((e)=>{((e.target.parentElement.parentElement.parentElement.parentElement.remove())); makeCookie(e);})(event)" th:data-index-number="${popup.getNo()}">7초 동안 보지 않기</button>
                    <button type="button" class="btn btn-primary" onclick="((e)=>{((e.target.parentElement.parentElement.parentElement.parentElement.remove()));})(event)" adata-bs-dismiss="modal">확인</button>
                </div>
            </div>
        </div>
    </div>
    </div>



</main>
<!--<footer 부분은 templetes/footer.html로 분리-->
<div th:replace="~{fragments/footerFragment::footer}"></div>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>


<!-- Preloader -->
<!--<div id="preloader"></div>-->
</body>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>


<script th:inline="javascript">
    let popups = /*[[${popups}]]*/ []
    console.log(popups)
</script>

<!-- Main JS File -->
<script src="/js/mastermain.js" defer></script>

<!-- Bootstrap 5 JS and Popper.js -->
<!-- Development -->
<script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
<script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>

<!--    &lt;!&ndash; Production &ndash;&gt;-->
<!--    <script src="https://unpkg.com/@popperjs/core@2"></script>-->
<!--    <script src="https://unpkg.com/tippy.js@6"></script>-->

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>

<script>
    calendarModal = document.querySelector("#calendarModal");
    openModal = document.querySelector("#openModal");
    let calendar;

    // calendarEvents
    FetchCalendarEvents = function () {
        fetch("/api/admin/calendar", {
            method: "GET",

        }).then(res=>res.json())
            .then((res) => {
                console.log(res)

                res.forEach(v=> {
                    var s = new Date(v.startDate[0], v.startDate[1] - 1, v.startDate[2])
                    if (v.startTime) {
                        s.setHours(v.startTime[0])
                        s.setMinutes(v.startTime[1])
                    }
                    var e = v.isAllDay ? new Date(v.endDate[0], v.endDate[1]-1, v.endDate[2]+1) : new Date(v.endDate[0], v.endDate[1]-1, v.endDate[2])
                    if (v.endTime) {
                        e.setHours(v.endTime[0])
                        e.setMinutes(v.endTime[1])
                    }

                    calendar.addEvent({
                        title: v.title,
                        description: v.description,
                        start: s.toISOString(),
                        end: e.toISOString(),
                        allDay: v.isAllDay

                    })
                })

            })
    }

    openModal.addEventListener("click", function () {
        setTimeout(function() {
            var calendarEl = document.getElementById('calendar');
            calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                // initialDate: '2024-10-01', // 캘린더를 10월 초로 설정
                height: 640,
                eventDidMount: function(info) {
                    const description = info.event.extendedProps.description
                    let timeDetail = "시긴미정", s="NA", e="NA"

                    if (info.event.start && info.event.start.getHours()) s = info.event.start.getHours().toString().padStart(2, '0') + ':' + info.event.start.getMinutes().toString().padStart(2, '0');
                    if (info.event.end && info.event.end.getHours()) e = info.event.end.getHours().toString().padStart(2, '0') + ':' + info.event.end.getMinutes().toString().padStart(2, '0');
                    if (info.event.allDay) timeDetail = "하루종일";
                    else timeDetail = s + " ~ " + e

                    tippy(info.el, {
                        // content:  info.event.title//이벤트 타이틀을 툴팁으로 가져옵니다.
                        // content: '<strong>Bolded <span style="color: aqua;">content</span></strong>',
                        content:  `<h7>${description}</h7><p>${timeDetail}</p>`,//이벤트 디스크립션을 툴팁으로
                        allowHTML: true,
                    });
                },
                events: [
                    {
                        title: '가짜 일정',
                        start: '2021-07-01',
                    },
                ]
            },);
            calendar.render();
        }, 5);

        FetchCalendarEvents();
    })

</script>

</html>