<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">



<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Index - Arsha Bootstrap Template</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link href="/img/favicon.png" rel="icon">
    <link href="/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link rel="stylesheet" href="/css/main.css" />

    <!-- FullCalendar CSS -->
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.css' rel='stylesheet' />

    <!-- FullCalendar JS -->
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.11.3/main.min.js'></script>

</head>

<body class="index-page">


<!--<header 부분은 /fragments/header.html로 분리-->
<div th:replace="~{header :: header}"></div>


<main class="main">

    <!-- Hero Section -->
    <section id="hero" class="hero section dark-background">

        <div class="container">
            <div class="row gy-4 justify-content-center align-items-center text-center">
                <div class="col-lg-8 d-flex flex-column justify-content-center align-items-center" data-aos="zoom-out">
                    <h1>Wonkwang Univ <br>
                        Department of Computer Science
                        Software Project Group</h1>
                    <p>Artist + Engineer</p>
                    <div class="d-flex justify-content-center align-items-center">
                        <a href="#about" class="btn-get-started">Artineer?</a>
                        <a href="https://cafe.naver.com/artineer24" target="_blank" rel="noopener noreferrer" class="glightbox btn-watch-video d-flex align-items-center">
                            <i class="bi bi-play-circle"></i>
                            <span>아티니어 블로그</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <section id="bannerClients" class="clients section light-background">

        <div class="container" data-aos="zoom-in">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 40
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 60
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 80
                            },
                            "992": {
                                "slidesPerView": 5,
                                "spaceBetween": 120
                            },
                            "1200": {
                                "slidesPerView": 6,
                                "spaceBetween": 120
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어-세미나-배너-001.png}" class="img-fluid" alt=""></div>
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어_공식_배너.jpg}" class="img-fluid" alt=""></div>-->
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어_공식_배너.jpg}" class="img-fluid" alt=""></div>-->
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어_공식_배너.jpg}" class="img-fluid" alt=""></div>-->
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어_공식_배너.jpg}" class="img-fluid" alt=""></div>-->
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/아티니어_공식_배너.jpg}" class="img-fluid" alt=""></div>-->
<!--                    <div class="swiper-slide"><img th:src="@{/assets/img/bannerClients/제목을-입력해주세요_-001.png}" class="img-fluid" alt=""></div>-->
                </div>
            </div>

        </div>

    </section><!-- /Clients Section -->



    <!-- Clients Section -->
    <section id="clients" class="clients section light-background">

        <div class="container" data-aos="zoom-in">

            <div class="swiper init-swiper">
                <script type="application/json" class="swiper-config">
                    {
                        "loop": true,
                        "speed": 600,
                        "autoplay": {
                            "delay": 5000
                        },
                        "slidesPerView": "auto",
                        "pagination": {
                            "el": ".swiper-pagination",
                            "type": "bullets",
                            "clickable": true
                        },
                        "breakpoints": {
                            "320": {
                                "slidesPerView": 2,
                                "spaceBetween": 40
                            },
                            "480": {
                                "slidesPerView": 3,
                                "spaceBetween": 60
                            },
                            "640": {
                                "slidesPerView": 4,
                                "spaceBetween": 80
                            },
                            "992": {
                                "slidesPerView": 5,
                                "spaceBetween": 120
                            },
                            "1200": {
                                "slidesPerView": 6,
                                "spaceBetween": 120
                            }
                        }
                    }
                </script>
                <div class="swiper-wrapper align-items-center">
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-1.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-2.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-3.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-4.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-5.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-6.png" class="img-fluid" alt=""></div>
                    <div class="swiper-slide"><img src="image/img/clients/Artineer-7.png" class="img-fluid" alt=""></div>
                </div>
            </div>

        </div>

    </section><!-- /Clients Section -->

    <!-- About Section -->
    <section id="about" class="about section">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up">
            <h2>About Us</h2>
        </div><!-- End Section Title -->

        <div class="container">

            <div class="row gy-4">

                <div data-aos="fade-up" data-aos-delay="100">
                    <p style="font-size: 24px; line-height: 1.8; text-align: center;">
                        <strong>WE ARE ARTINEER.<br><br>
                            Wonkwang Univ. Department of Computer Science<br>
                            SOFTWARE PROJECT GROUP<br>
                            SINCE 2017.<br><br>
                            IKSAN DAERO 460, IKSAN-SI, JEOLLABUK-DO, KOREA<br>
                            COLLEGE OF ENGINEERING.</strong>
                    </p>
                    <br>
                    <div style="text-align: center;">
                        <img src="image/logo.png" alt="Artineer Logo" style="width: 150px; height: auto;">
                    </div>
                </div>


            </div>

        </div>

    </section><!-- /About Section -->

    <!-- Major Activity Section -->
    <section id="services" class="services section light-background">

        <!-- Section Title -->
        <div class="container section-title" data-aos="fade-up" style="text-align: center;">
            <h2>Major Activity</h2>
            <p style="font-size: 18px; line-height: 1.8; text-align: center;">
                <br>
                <strong>강의, 스터디뿐만 아니라 분야별 세미나를 통해 프로젝트를 진행하고 있습니다.<br></strong>
            </p>
        </div><!-- End Section Title -->

        <div class="container">
            <div class="row gy-4 justify-content-center">
                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="100">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-1.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4 class="mt-3"><a href="" class="stretched-link">분야별 스터디</a></h4>
                        <p>웹, AI, 게임, 네트워크 보안, 개별 등의 분야별 스터디를 진행합니다</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="200">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-2.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4><a href="" class="stretched-link">분야별 세미나</a></h4>
                        <p>자신의 진로와 관련된 주제나 관심 분야와 관련된 동아리 부원들과 함께 조를 구성하여 세미나를 진행합니다.</p>
                    </div>
                </div><!-- End Service Item -->

                <div class="col-xl-3 col-md-6 d-flex" data-aos="fade-up" data-aos-delay="300">
                    <div class="service-item position-relative">
                        <!-- 이미지 추가 -->
                        <div class="image">
                            <img src="image/img/MainBackGround-3.jpg" alt="" class="img-fluid equal-image">
                        </div>
                        <h4><a href="" class="stretched-link">자체 강의 진행</a></h4>
                        <p>기본적인 개념을 다잡고, 응용하여 심화 단계까지 학습 및 실습을 진행합니다</p>
                    </div>
                </div><!-- End Service Item -->
            </div>
        </div>



    </section><!-- /Major Activity Section -->



    <!-- Artineer calender Section -->
    <section id="call-to-action" class="call-to-action section dark-background">

        <img src="/img/cta-bg.jpg" alt="">

        <div class="container">

            <div class="row" data-aos="zoom-in" data-aos-delay="100">
                <div class="col-xl-9 text-center text-xl-start">
                    <h3>Artineer Calendar</h3>
                    <p>아티니어만의 동아리 시간과 주요 행사를 확인할 수 있습니다.</p>

                    <!-- 캘린더가 들어갈 위치 -->
                    <div id="calendar" style="display: none;"></div>

                </div>
                <div class="col-xl-3 cta-btn-container text-center">
                    <a class="cta-btn align-middle" href="#" id="show-calendar">자세히 보기</a>
                </div>
            </div>

        </div>

    </section>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            document.getElementById('show-calendar').addEventListener('click', function(e) {
                e.preventDefault(); // 기본 동작 방지
                window.open('popup-calendar.html', 'Calendar', 'width=800,height=600'); // 팝업 창 열기
            });
        });
    </script>





</main>



<!--<footer 부분은 /fragments/header.html로 분리-->
<div th:replace="~{footer::footer}"></div>>



<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/js/main.js"></script>


</body>
</th:block>
</html>


