<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.5">
    <title>Artineer</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <link th:href="@{/image/favicon.ico}" rel="icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">

    <!--artineer-text 전용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Knewave&display=swap" rel="stylesheet">

    <!--About-introduce a 전용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Audiowide&display=swap" rel="stylesheet">

    <!--artineer-contenttext 전용-->


    <!--artineer-text1 전용-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jua&family=Noto+Sans+KR:wght@100..900&display=swap" rel="stylesheet">

    <!--about main text-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="css/mastermain.css" rel="stylesheet">  <!--header, footer 적용을 위해 필요-->
    <link href="css/about.css" rel="stylesheet">


</head>

<body class="index-page">


<!--<header 부분은 templetes/header.html로 분리-->
<div th:replace="~{fragments/headerFragment :: header(user=${user})}"></div>


<main class="main">


    <!-- About Section -->
    <section id="about" class="about section">
        <!-- Section Title -->
        <!-- End Section Title -->


        <section id="About-introduce" class="About-introduce section dark-background">
            <img th:src="@{/assets/img/프라임관_전경.jpg}" alt="">
            <div class="container section-title">
                <h3>
                    <a href="" style="text-decoration: none; color: inherit;">About us</a>
                </h3>
            </div>

        </section>

        <div class="containers">
            <div class="btn-container">
                <div class="btn" onclick="showContent('greeting')">인사말</div>
            </div>
            <div class="btn-container">
                <div class="btn" onclick="showContent('event')">학습 / 행사</div>
            </div>
        </div>

        <!-- Section for content -->
        <div id="greeting" class="content-section">
            <div class="containers">

                <div class="row gy-4">
                    <div data-aos="fade-up" data-aos-delay="100">
                        <div style="text-align: center;">
                            <strong class="artineer-text">
                                We are ARTINEER ! <br><br>
                            </strong>
                            <div style="text-align: left;">
                                <p class="artineer-contenttext">
                                    ARTINEER 는 "Artist + Engineer"의 합성어로,<br>
                                    단순히 공학의 기술적인 면만 집중한 것이 아니라 하나의 또 다른 예술성까지 지닌 사람들이 모인
                                    원광대학교 컴퓨터 소프트웨어 공학과의 학술 동아리입니다.
                                    아티니어는 컴퓨터 소프트웨어에 대해 더 공부하고 싶은 분들께 여러 분야에 맞는 지식을 공유할 수 있도록 도움을 주고 있습니다.<br><br>
                                </p>
                            </div>
                        </div>


                        <br>
                        <div style="text-align: center;">
                            <img src="/assets/img/aboutimage-2.png" alt="about image2" class = "artineer-img">
                            <p style="font-size: 18px; line-height: 1.8; text-align: center;">
                            - 2024년 ARTINEER 회식 -
                            </p>
                        </div>
                        <br><br>
                        <div style="text-align: center;">
                            <strong class="artineer-text">
                                Let's start with ARTINEER ! <br><br>
                            </strong>
                            <div style="text-align: left;">
                                <p class="artineer-contenttext">
                                    ARTINEER는 프로그래밍에 관심이 있는 분들이 재밌고,
                                    컴퓨터 소프트웨어 분야에 쉽게 입문할 수 있도록 다양한 분야의 스터디와 멘토 멘티 시스템을 진행하고 있습니다.
                                    매주 동아리 정기모임을 통해 자신의 진로 분야를 파악하고, 동아리원들과 팀을 이뤄 프로젝트를 진행하고 있습니다.
                                    프로젝트를 통해 프로그래밍 실력을 키우고, 분야에 맞는 포트폴리오를 작성할 수 있습니다.
                                </p>
                            </div>
                        </div>
                        <br><br>
                    </div>


                    <div class="bg-gallery">
                        <div class="gallery-box">
                            <h2>둘러보기</h2>
                            <div class="gallery-type">
                                <div class="gallery-item" data-aos="fade-up" data-aos-delay="100" onclick="openModal('assets/img/aboutmodalimage3.png')">
                                    <img src="/assets/img/aboutmodalimage3.png" alt="프라임관" class="equal-image">
                                    <p>- 프라임관 전경 -</p>
                                </div>
                                <div class="gallery-item" data-aos="fade-up" data-aos-delay="200" onclick="openModal('assets/img/aboutmodalimage2.png')">
                                    <img src="/assets/img/aboutmodalimage2.png" alt="아티니어 동아리방 위치" class="equal-image">
                                    <p>- 아티니어 동아리방 위치 -</p>
                                </div>
                                <div class="gallery-item" data-aos="fade-up" data-aos-delay="300" onclick="openModal('assets/img/aboutmodalimage1.jpg')">
                                    <img src="/assets/img/aboutmodalimage1.jpg" alt="동아리방 내부" class="equal-image">
                                    <p>- 동아리방 내부 -</p>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div id="imageModal" class="modal" onclick="closeModal(event)">
                        <img class="modal-content" id="modalImage">
                    </div>

                </div>
            </div>
        </div>


        <div id="event" class="content-section" style="display: none;">
            <div class="containers">

                <div class="row gy-4">

                    <div data-aos="fade-up" data-aos-delay="100">
                        <div style="text-align: center">
                            <strong style="padding-left: 50px" class="artineer-text1">
                                학습 <br><br>
                            </strong>
                            <div style="text-align: left">
                                <p class = "artineer-contenttext">
                                    아티니어는 스터디와 자체 강의를 중점으로 기본적인 개념을 다잡고 응용하여 심화 단계까지의 학습 및 실습을 진행하는데
                                    초점을 두고 있습니다. 강의시간 외에도 스터디를 개별적으로 진행하며 멘토들의 적극적인 피드백을 통해 여러분의
                                    더 나은 성장을 이룰 수 있도록 노력하고 있습니다.
                                    <br><br>
                                    또, 2학기에 진행하는 분야별 세미나를 통해 팀원 간의 협동력을 기를 수 있고, 프로젝트를 진행하며 그동안 혼자서 해결할 수 없었던 지식을 서로 공유하고 배울 수 있습니다.
                                    아티니어에서 개인의 실력을 향상시켜 더 좋은 결과물을 만들 수 있는 기회를 놓치지 마세요.
                                </p>
                            </div>
                        </div>
                        <br>
                    </div>

                    <br><br>

                    <div class="card__inner container3">
                        <article class="card">
                            <figure class="card__header">
                                <img src="image/img/MainBackGround-3.jpg" alt="분야별 스터디">
                            </figure>
                            <div class="card__body">
                                <h3 class="tit">분야별 스터디</h3>
                                <p class="desc">각 분야별로 주제를 정하여 스터디 형식으로 진행하는 활동입니다. 매주 동아리 시간에 진행됩니다. <br>
                                    현재 진행되고 있는 스터디 분야는 웹, AI, 게임, 네트워크 보안, 개인 등이 있습니다.
                                </p>
                                <a class="brn" href="/">
                                    더 자세히 보기
                                    <span aria-hidden="true">
                        <svg width="65" height="8" viewBox="0 0 65 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M64.3536 4.35355C64.5488 4.15829 64.5488 3.84171 64.3536 3.64645L61.1716 0.464466C60.9763 0.269204 60.6597 0.269204 60.4645 0.464466C60.2692 0.659728 60.2692 0.976311 60.4645 1.17157L63.2929 4L60.4645 6.82843C60.2692 7.02369 60.2692 7.34027 60.4645 7.53553C60.6597 7.7308 60.9763 7.7308 61.1716 7.53553L64.3536 4.35355ZM0 4.5H64V3.5H0V4.5Z" fill="black"/>
                        </svg>
                    </span>
                                </a>
                            </div>
                        </article>
                        <article class="card">
                            <figure class="card__header">
                                <img src="image/img/MainBackGround-2.jpg" alt="세미나/프로젝트">
                            </figure>
                            <div class="card__body">
                                <h3 class="tit">세미나/프로젝트</h3>
                                <p class="desc">각 분야에 맞는 사람들끼리 모여 하나의 주제를 정하고 프로젝트를 진행하는 활동입니다. <br>
                                    세미나는 2학기에 진행되며 팀원 간의 협력을 요구하는 활동인 만큼 동아리 시간에 팀원들과 세미나 활동을 보고합니다.
                                </p>
                                <a class="brn" href="/project">
                                    더 자세히 보기
                                    <span>
                        <svg width="65" height="8" viewBox="0 0 65 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M64.3536 4.35355C64.5488 4.15829 64.5488 3.84171 64.3536 3.64645L61.1716 0.464466C60.9763 0.269204 60.6597 0.269204 60.4645 0.464466C60.2692 0.659728 60.2692 0.976311 60.4645 1.17157L63.2929 4L60.4645 6.82843C60.2692 7.02369 60.2692 7.34027 60.4645 7.53553C60.6597 7.7308 60.9763 7.7308 61.1716 7.53553L64.3536 4.35355ZM0 4.5H64V3.5H0V4.5Z" fill="black"/>
                        </svg>
                    </span>
                                </a>
                            </div>
                        </article>
                        <article class="card">
                            <figure class="card__header">
                                <img src="image/img/MainBackGround-1.jpg" alt="자체 강의">
                            </figure>
                            <div class="card__body">
                                <h3 class="tit">자체 강의</h3>
                                <p class="desc">누구나 자유롭게 개설 가능하며 같은 분야뿐만 아니라 다른 분야의 학습 경험을 도모하기 위해 진행되는 활동입니다. <br>
                                    현재 진행되고 있는 강의는 모의해킹, 리눅스, 네트워크 보안, 스프링 등이 있습니다.
                                </p>
                                <a class="brn" href="/">
                                    더 자세히 보기
                                    <span>
                        <svg width="65" height="8" viewBox="0 0 65 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M64.3536 4.35355C64.5488 4.15829 64.5488 3.84171 64.3536 3.64645L61.1716 0.464466C60.9763 0.269204 60.6597 0.269204 60.4645 0.464466C60.2692 0.659728 60.2692 0.976311 60.4645 1.17157L63.2929 4L60.4645 6.82843C60.2692 7.02369 60.2692 7.34027 60.4645 7.53553C60.6597 7.7308 60.9763 7.7308 61.1716 7.53553L64.3536 4.35355ZM0 4.5H64V3.5H0V4.5Z" fill="black"/>
                        </svg>
                    </span>
                                </a>
                            </div>
                        </article>
                    </div>

















                </div>
            </div>
        </div>



        <script>
            const targetList = document.querySelectorAll(".btn");

            targetList.forEach((btn) => {
              btn.addEventListener("click", (e) => {
                targetList.forEach((t) => {
                  t.classList.remove("active");
                });

                e.target.classList.add("active");
              });
            });
        </script>

    </section><!-- /About Section -->

</main>



<!--<footer 부분은 templetes/footer.html로 분리-->
<div th:replace="~{fragments/footerFragment::footer}"></div>



<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<!--<div id="preloader"></div>-->

<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
<!-- Main JS File -->
<script src="/js/about.js"></script>


</body>
</th:block>
</html>



