<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=yes, initial-scale=0.5">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Notice Detail</title>
    <meta name="description" content="">
    <meta name="keywords" content="">

    <!-- Favicons -->
    <link th:href="@{/image/favicon.ico}" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <!-- CKEditor Classic Editor 추가 -->
    <link rel="stylesheet" href="https://cdn.ckeditor.com/ckeditor5/43.2.0/ckeditor5.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="/css/mastermain.css" />
    <!-- board css file    -->
    <link href="/css/board.css" rel="stylesheet">

</head>
<body class="starter-page-page d-flex flex-column min-vh-100">
<div th:replace="~{fragments/headerFragment :: header(user=${user})}"></div>
<main class="main">
<div style="margin-top: 150px;">
    <div class="container text-start mt-5 border border-secondary my-1" style="width: 800px; position: relative;">
        <div class="border-bottom pb-3">
            <h1 th:text="${notice.title}" class="text-break" style="padding-top: 20px;">Notice Title</h1>
            <div class="border-bottom pb-3">
                <a >작성자: </a><a th:text="${notice.name} + '(' + ${notice.year} + '기)'" style="padding-right: 20px">작성자</a>
                <a>날짜: </a><a th:text="${notice.regdate}" style="padding-right: 20px">날짜</a>
                <a>조회수: </a><a th:text="${notice.hit}">조회수</a>
            </div>

            <nav id="navmenu" class="navmenu d-flex justify-content-end">
                <ul th:if="${!notice.getFile().isEmpty()}">
                    <li class="dropdown"><span>파일 다운로드 ▼</span>
                        <ul style="transform: translateX(-65%);">
                            <li><div th:each="fileName: ${notice.file}" class="pt-3" >
                                <a th:href="|/downloads/${fileName}|" th:text="${fileName.contains('_') ? fileName.split('_', 2)[1] : fileName }" alt="Image" class="text-info"></a>
                            </div></li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <div class="pt-3 pb-3" style="min-height: 300px">
                <div class="ck-content">
                    <div class="pb-3" th:utext="${notice.story}">Notice Story</div>

                    <div th:each="fileName: ${notice.file}" class="pt-5">
                        <img class="container" th:src="@{'/data/' + ${fileName}}" style="max-height: 500px; max-width: 750px;">
                    </div>
                </div>
            </div>

            <div class="d-flex justify-content-center">
            <div class="d-flex justify-content-between" style="width: 800px">
                <a href="/notice" class="btn btn-outline-info custom-btn">목록</a>
            <div class="btn-group" sec:authorize="isAuthenticated()" th:if="${notice.getUsername() == #authentication.name}">
                <a type="button" class="btn btn-outline-info custom-btn"
                   th:href="@{/notice/edit/{no}(no=${notice.no})}">수정</a>
                <a type="button" class="btn btn-outline-info custom-btn"
                   th:href="@{/notice/delete/{no}(no=${notice.no})}">삭제</a>
            </div>
            </div>
            </div>

        </div>



        <div class="d-flex align-items-center">
        <h2 class="pt-3 pe-3">댓글</h2>
        <form id="new_comment">
            <input type="hidden" name="bbsName" th:value="${bbsName}" />
            <input type="hidden" name="bbsNo" th:value="${bbsNo}" />
            <input type="hidden" name="username" th:value="${user!=null ? user.getUsername() : '익명'}" />
            <input type="hidden" name="replys" th:value="${null}" />
            <div class="d-flex align-items-center">
            <input class="form-control" type="text" name="memo" placeholder="댓글을 입력하세요." style="width: 350px" required />
            <button type="submit" class="btn _btn" style="width: 80px;">등록</button>
            </div>
        </form>
        </div>

        <h2>댓글 목록</h2>
<!--        <div th:each="comment : ${notice.comments}">-->
            <div th:replace="~{fragments/commentFragment :: comment(comments=${notice.comments})}"></div>
<!--        </div>-->


    </div>
</div>
</main>
<footer id="footer" th:insert="~{fragments/footerFragment :: footerInfo}" class="footer py-3 mt-auto"></footer>

<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Preloader -->
<!--<div id="preloader"></div>-->



<!-- Vendor JS Files -->
<!--<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>

<!-- Main JS File -->
<script src="/js/mastermain.js"></script>
<script src="/js/comment.js"></script>

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</html>